/*--------------links----------*/
div.link a{
    margin-right:10px;
}

a {
text-decoration:none;
}

a:hover{
text-decoration:underline;
}
/*----------headers-------------*/
section.guitar h2{
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*----------tables--------------*/
.guitar th{
    padding:10px;
}